.faq-banner {
  height: 350px;
  background-image: url('../../Assets/enqimg.png');
  background-color: #333333;
  background-blend-mode: overlay;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-banner h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.faq-banner p {
  text-align: center;
  font-weight: 300;
}

.faqAccordion {
  padding: 20px 10%;
  width: 100%;
}

.faqAccordion h3 {
  color: #ff0000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}

.rule {
  color: #ebeef7;
  height: 0;
  margin-block: 20px;
}

.accordion-item {
  margin: 15px 0;
}

.accordion-header {
  color: Grayscale/800;
  font-size: 18px;
  font-weight: 400;
  background: none;
  border: none;
}

.accordion-header button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  color: #464d61;
  font-size: 16px;
  font-weight: 200;
  margin: 10px 0;
}

.accordian-flex{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}